.root {
  display: block;
  svg {
    :global(.card) {
      fill: url(#imagebot_155);

      &:global(.bg-black) {
        fill: #222;
      }
      &:global(.bg-grey) {
        fill: #aaa;
      }
      stroke-width: 10px;
      stroke-linecap: round;
      stroke-miterlimit: 4;
      stroke-dashoffset: 0;
      stroke: #fff;
    }
    &:global(.card) {}
    path {
      &:global(.shade) {
        // stroke: black;
      
        opacity: 0.3; // opacity="0.51648" 
        fill: url(#imagebot_164);
        // opacity: 1;
      // fill: black;
      // opacity: 0;
      // transition: .3s;
      // &:hover {
      //   opacity: 0.3;
      // }
        fill-rule: evenodd; // fill: black;
        // " stroke-width="0.25000000pt" 
        // d: path('M 0 70.09849528297087 C 42.172179849308414 83.77474565586017 63.13113462378463 51.25568112640298 100 70.09849528297087 L 100 0 L 0 0')
        d: path('M 0 61.318194339565046 C 50.606615819170095 77.7296947870322 75.75736154854155 38.706817351683576 120 61.318194339565046 L 120 0 L 0 0');
        // d: path('M 0 0 L 70 0 L 50 120 L 0 120 Z');
        // d: path('M 120 0 L 70 0 L 50 120 L 120 120 Z');
      } // &:global(.tile-red) {
      //   &:before {
      //     color: #ffce54;
      //     color: #dd5249;
      //   }
      // }
      // &:global(.tile-green) {
      //   &:before {
      //     color: #20a163;
      //   }
      // }
      &:global(.yellow) {
        fill: #ffce54;
      }
      &:global(.red) {
        fill: #dd5249;
      }
      &:global(.green) {
        fill: #20a163;
      }
      &:global(.heart) {
        // transform: translate(-140px, -562.36px);
        // fill: #ef8a80;
        // d: path('m 180,582.36 c 0,0 1.82,-11.153 5.333,-14.667 3.514,-3.514 9.698,-5.333 14.667,-5.333 4.969,0 11.153,1.82 14.667,5.333 3.514,3.514 5.333,9.698 5.333,14.667 0,4.969 -2.667,12 -5.333,14.667 -2.667,2.667 -5.333,4 -8,6.667 -2.667,2.667 -4,2.667 -6.667,5.333 -2.667,2.667 -4,4 -6.667,6.667 -2.667,2.667 -6.667,8 -9.333,13.333 -2.667,5.333 -4,13.333 -4,13.333 0,0 -1.333,-8 -4,-13.333 -2.667,-5.333 -6.667,-10.667 -9.333,-13.333 -2.667,-2.667 -4,-4 -6.667,-6.667 -2.667,-2.667 -4,-2.667 -6.667,-5.333 -2.667,-2.667 -5.333,-4 -8,-6.667 C 142.666,594.36 140,587.329 140,582.36 c 0,-4.969 1.82,-11.153 5.333,-14.667 3.514,-3.514 9.698,-5.333 14.667,-5.333 4.969,0 11.153,1.82 14.667,5.333 3.514,3.514 5.333,14.667 5.333,14.667');
        d: path('M 40 20 C 40 20 41.81999999999999 8.84699999999998 45.333 5.33299999999997 48.84700000000001 1.81899999999996 55.031000000000006 0 60 0 64.969 0 71.15299999999999 1.82000000000005 74.667 5.33299999999997 78.18100000000001 8.84699999999998 80 15.030999999999949 80 20 80 24.96900000000005 77.333 32 74.667 34.66700000000003 72 37.33400000000006 69.334 38.66700000000003 66.667 41.33400000000006 64 44.00100000000009 62.667 44.00100000000009 60 46.66700000000003 57.333 49.33400000000006 56 50.66700000000003 53.333 53.33400000000006 50.666 56.00100000000009 46.666 61.33400000000006 44 66.66700000000003 41.333 72 40 80 40 80 40 80 38.667 72 36 66.66700000000003 33.333 61.33400000000006 29.333 56 26.667 53.33400000000006 24 50.66700000000003 22.667 49.33400000000006 20 46.66700000000003 17.333 44 16 44 13.332999999999998 41.33400000000006 10.665999999999997 38.66700000000003 8 37.33400000000006 5.332999999999998 34.66700000000003 2.665999999999997 32 0 24.968999999999937 0 20 0 15.030999999999949 1.8199999999999932 8.84699999999998 5.332999999999998 5.33299999999997 8.847000000000008 1.81899999999996 15.031000000000006 0 20 0 24.968999999999994 0 31.15299999999999 1.82000000000005 34.667 5.33299999999997 38.18100000000001 8.84699999999998 40 20 40 20')
      }
      &:global(.spade) {
        // transform: translate(-140px, -562.36px);
        // fill: #b6dc75;
        d: path('M 40.00100002500063 0 C 38.667966699167486 6.66716667916701 37.14592864821622 8.392209805245185 34.667866696667424 12.00030000750019 32.53281332033303 15.1093777344434 29.545738643466105 17.562439060976537 26.667666691667296 20.000500012500314 23.750593764844123 22.47156178904473 20.419510487762206 24.4086102152554 17.334433360834026 26.667666691667325 13.748343708592706 29.29273231830799 9.51523788094704 31.255781394534864 6.667166679166981 34.66786669666745 3.483087077176934 38.48296207405194 0 43.03207580189512 0 48.00120003000076 0 51.976299407485214 2.408060201505025 55.97639940998528 5.333133328333208 58.66846671166783 8.856221405535134 61.90954773869349 13.881347033675844 64.11260281507037 18.66646666166654 64.00160004000101 24.035600890022252 63.877596939923485 29.466736668416722 61.061526538163406 33.333833345833646 57.334433360834 36.19590489762244 54.57636440911017 38.66696667416686 46.667166679166925 38.66696667416686 46.667166679166925 V 49.334233355833874 C 38.66696667416686 50.66726668166699 38.53396334908372 56.6244156103902 37.33393334833371 60.001500037500946 35.929898247456194 63.95259881497041 33.50383759593989 67.58068951723789 30.66676666916673 70.66876671916802 27.65669141728544 73.94184854621372 19.999499987499686 78.66896672416814 19.999499987499686 78.66896672416814 V 80.00200005000126 C 19.999499987499686 80.00200005000126 30.611765294132347 77.7809445236131 35.99989999749994 77.33493337333431 38.657966449161215 77.11492787319678 41.342033550838785 77.11492787319678 44.00010000250006 77.33493337333431 49.38823470586765 77.7809445236131 60.00050001250032 80.00200005000126 60.00050001250032 80.00200005000126 V 78.66896672416814 C 60.00050001250032 78.66896672416814 52.3403085077127 73.94184854621372 49.333233330833274 70.66876671916802 46.497162429060715 67.580689517238 44.070101752543806 63.95259881497041 42.66606665166629 60.001500037500946 41.46603665091628 56.625415635390915 41.33303332583314 49.334233355833874 41.33303332583314 49.334233355833874 V 46.667166679166925 C 41.33303332583314 46.667166679166925 43.80409510237756 54.57536438410956 46.666166654166354 57.334433360834 50.53326333158328 61.060526513162806 55.96439910997775 63.877596939923485 61.33353333833346 64.00160004000101 66.11965299132478 64.11160279006977 71.1447786194655 61.90954773869349 74.6668666716668 58.66846671166783 77.59193979849498 55.97639940998528 80 51.977299432485815 80 48.00120003000076 80 43.032075801895004 76.51691292282307 38.48296207405183 73.33283332083302 34.66786669666745 70.48476211905296 31.255781394534864 66.2526563164079 29.29273231830799 62.665566639165974 26.667666691667325 59.58048951223779 24.409610240256 56.249406235155874 22.472561814045335 53.33233330833271 20.000500012500314 50.45426135653389 17.562439060976537 47.46718667966698 15.1093777344434 45.332133303332576 12.00030000750019 42.85407135178378 8.392209805245185 41.332033300832514 6.66716667916701 39.99899997499937 0') // d: path('m 180,562.36 c -1.333,6.667 -2.855,8.392 -5.333,12 -2.135,3.109 -5.122,5.562 -8,8 -2.917,2.471 -6.248,4.408 -9.333,6.667 -3.586,2.625 -7.819,4.588 -10.667,8 -3.184,3.815 -6.667,8.364 -6.667,13.333 0,3.975 2.408,7.975 5.333,10.667 3.523,3.241 8.548,5.444 13.333,5.333 5.369,-0.124 10.8,-2.94 14.667,-6.667 2.862,-2.758 5.333,-10.667 5.333,-10.667 v 2.667 c 0,1.333 -0.133,7.29 -1.333,10.667 -1.404,3.951 -3.83,7.579 -6.667,10.667 -3.01,3.273 -10.667,8 -10.667,8 v 1.333 c 0,0 10.612,-2.221 16,-2.667 2.658,-0.22 5.342,-0.22 8,0 5.388,0.446 16,2.667 16,2.667 v -1.333 c 0,0 -7.66,-4.727 -10.667,-8 -2.836,-3.088 -5.263,-6.716 -6.667,-10.667 -1.2,-3.376 -1.333,-10.667 -1.333,-10.667 v -2.667 c 0,0 2.471,7.908 5.333,10.667 3.867,3.726 9.298,6.543 14.667,6.667 4.786,0.11 9.811,-2.092 13.333,-5.333 2.925,-2.692 5.333,-6.691 5.333,-10.667 0,-4.969 -3.483,-9.518 -6.667,-13.333 -2.848,-3.412 -7.08,-5.375 -10.667,-8 -3.085,-2.258 -6.416,-4.195 -9.333,-6.667 -2.878,-2.438 -5.865,-4.891 -8,-8 -2.478,-3.608 -4,-5.333 -5.333,-12');
      }
      &:global(.diamond) {
        // transform: translate(-140px, -562.36px);
        // fill: #5ac0d9;
        // d: path('m 180,562.36 c 0,0 8,13.333 17.333,22.667 9.333,9.333 22.667,17.333 22.667,17.333 0,0 -13.333,8 -22.667,17.333 C 188,629.026 180,642.36 180,642.36 c 0,0 -8,-13.333 -17.333,-22.667 C 153.334,610.36 140,602.36 140,602.36 c 0,0 13.333,-8 22.667,-17.333 C 172,575.694 180,562.36 180,562.36');
        d: path('M 40 0 C 40 0 48 13.33299999999997 57.333 22.66700000000003 66.666 32 80 40 80 40 80 40 66.667 48 57.333 57.33299999999997 48 66.66599999999994 40 80 40 80 40 80 32 66.66700000000003 22.667 57.33299999999997 13.334000000000003 48 0 40 0 40 0 40 13.332999999999998 32 22.667 22.66700000000003 32 13.333999999999946 40 0 40 0')
      }
      &:global(.club) {
        // transform: translate(-140px, -562.36px);
        // fill: #fed674;
        d: path('M 40 0.08200205005124493 C 36.000900022500566 0 33.33283332083302 1.415035375884361 30.66676666916673 4.082102052551308 27.99969999249981 6.749168729218255 26.666666666666668 9.415235380884488 26.666666666666668 13.41533538338455 26.666666666666668 17.415435385884614 28.18470461761544 19.787494687367108 30.66676666916673 22.748568714217793 33.04182604565114 25.58163954098843 34.666866671666796 26.748668716717855 35.99989999749994 29.4147353683842 37.33293332333308 32.08180204505115 38.66696667416686 37.414935373384324 38.66696667416686 40.08100202505067 38.66696667416686 42.74806870171762 38.66696667416686 42.47906197654949 38.66696667416686 44.081102027550735 H 35.99989999749994 C 33.33283332083302 44.081102027550735 27.99969999249981 41.414035350883786 26.666666666666668 40.08100202505067 L 22.666566664166606 36.08090202255061 C 19.999499987499686 33.41383534588366 17.333433335833398 32.08080202005055 13.333333333333334 32.08080202005055 9.33323333083327 32.08080202005055 6.666166654166352 33.41383534588366 4.000100002500063 36.08090202255061 1.3330333258331444 38.74796869921756 0 41.414035350883786 0 45.41413535338385 0 49.41423535588392 1.3330333258331444 52.08030200755026 4.000100002500063 54.74736868421709 6.667166679166981 57.41443536088404 9.33323333083327 58.747468686717156 13.333333333333334 58.747468686717156 17.333433335833398 58.747468686717156 20.000500012500314 57.41443536088404 22.666566664166606 54.74736868421709 L 26.666666666666668 50.74726868171703 C 27.99969999249981 49.41423535588392 33.333833345833646 46.74716867921697 35.99989999749994 46.74716867921697 H 38.66696667416686 C 38.6009650241256 50.52326308157698 38.320958023950595 57.11742793569839 37.33393334833371 60.08050201255027 36.000900022500566 64.08060201505033 33.333833345833646 68.0807020175504 30.66676666916673 70.74676866921675 27.99969999249981 73.4138353458837 19.999499987499686 78.74696867421687 19.999499987499686 78.74696867421687 V 80.08000200004999 C 19.999499987499686 80.08000200004999 33.33283332083302 77.41293532338304 35.99989999749994 77.41293532338304 H 44.00010000250006 C 46.66716667916698 77.41293532338304 60.00050001250032 80.08000200004999 60.00050001250032 80.08000200004999 V 78.74696867421687 C 60.00050001250032 78.74696867421687 52.000300007500186 73.4138353458837 49.333233330833274 70.74676866921675 46.666166654166354 68.0797019925498 44.00010000250006 64.08060201505033 42.66606665166629 60.08050201255027 41.678041951048776 57.11742793569839 41.3990349758744 50.52326308157698 41.33303332583314 46.74716867921697 H 44.00010000250006 C 46.66716667916698 46.74716867921697 52.000300007500186 49.41423535588392 53.333333333333336 50.74726868171703 L 57.3334333358334 54.74736868421709 C 60.00050001250032 57.41443536088404 62.6665666641666 58.747468686717156 66.66666666666667 58.747468686717156 70.66676666916673 58.747468686717156 73.33383334583365 57.41443536088404 75.99989999749994 54.74736868421709 78.66696667416686 52.080302007550145 80 49.41423535588392 80 45.41413535338385 80 41.414035350883786 78.66696667416686 38.747968699217445 75.99989999749994 36.08090202255061 73.33283332083302 33.41383534588366 70.66676666916673 32.08080202005055 66.66666666666667 32.08080202005055 62.6665666641666 32.08080202005055 59.99949998749969 33.41383534588366 57.3334333358334 36.08090202255061 L 53.333333333333336 40.08100202505067 C 52.000300007500186 41.414035350883786 46.666166654166354 44.081102027550735 44.00010000250006 44.081102027550735 H 41.33303332583314 C 41.33303332583314 42.22605565139131 41.33303332583314 42.74806870171762 41.33303332583314 40.08100202505067 41.33303332583314 37.413935348383724 42.66606665166629 32.08080202005055 44.00010000250006 29.4147353683842 45.33313332833321 26.747668691717255 46.66716667916698 25.414635365884138 49.333233330833274 22.748568714217793 51.98629965749143 20.095502387559605 53.333333333333336 17.415435385884614 53.333333333333336 13.41533538338455 53.333333333333336 9.415235380884488 52.000300007500186 6.749168729218141 49.333233330833274 4.082102052551308 46.666166654166354 1.415035375884361 44.00010000250006 0.08200205005124493 40 0.08200205005124493') // d: path('m 180,562.37 c -3.999,-0.082 -6.667,1.333 -9.333,4 -2.667,2.667 -4,5.333 -4,9.333 0,4 1.518,6.372 4,9.333 2.375,2.833 4,4 5.333,6.666 1.333,2.667 2.667,8 2.667,10.666 0,2.667 0,2.398 0,4 H 176 c -2.667,0 -8,-2.667 -9.333,-4 l -4,-4 c -2.667,-2.667 -5.333,-4 -9.333,-4 -4,0 -6.667,1.333 -9.333,4 -2.667,2.667 -4,5.333 -4,9.333 0,4 1.333,6.666 4,9.333 2.667,2.667 5.333,4 9.333,4 4,0 6.667,-1.333 9.333,-4 l 4,-4 c 1.333,-1.333 6.667,-4 9.333,-4 h 2.667 c -0.066,3.776 -0.346,10.37 -1.333,13.333 -1.333,4 -4,8 -6.667,10.666 -2.667,2.667 -10.667,8 -10.667,8 v 1.333 c 0,0 13.333,-2.667 16,-2.667 h 8 c 2.667,0 16,2.667 16,2.667 v -1.333 c 0,0 -8,-5.333 -10.667,-8 -2.667,-2.667 -5.333,-6.666 -6.667,-10.666 -0.988,-2.963 -1.267,-9.557 -1.333,-13.333 H 184 c 2.667,0 8,2.667 9.333,4 l 4,4 c 2.667,2.667 5.333,4 9.333,4 4,0 6.667,-1.333 9.333,-4 2.667,-2.667 4,-5.333 4,-9.333 0,-4 -1.333,-6.666 -4,-9.333 -2.667,-2.667 -5.333,-4 -9.333,-4 -4,0 -6.667,1.333 -9.333,4 l -4,4 c -1.333,1.333 -6.667,4 -9.333,4 h -2.667 c 0,-1.855 0,-1.333 0,-4 0,-2.667 1.333,-8 2.667,-10.666 1.333,-2.667 2.667,-4 5.333,-6.666 2.653,-2.653 4,-5.333 4,-9.333 0,-4 -1.333,-6.666 -4,-9.333 -2.667,-2.667 -5.333,-4 -9.333,-4');
      }
    }
    &:global(.red) {
      background: #ef8a80;
      path: {
        fill: #fff !important;
      }
    }
  }
}

$background-color: #efefef;
:export {
  primary: $background-color;
  /* this long names will be mapped to imports by your loader */
  // secondary: __value__secondary__1
}

$shape-size: 30px;
$tile-padding: floor($shape-size / 3);
$tile-width: $shape-size+$tile-padding * 2;
$tile-margin: 5px;
.tileWrap {
  // background-color: yellow;
  // background-color: #acdfce;
  width: ($tile-width + 2 + $tile-margin * 2) * 3 + $tile-margin * 2;
  padding: $tile-margin;
}

.tile {
  display: inline-block;
  padding: $tile-padding;
  margin: $tile-margin;
  background-color: #fff;
  border: 1px solid #aaa;
  position: relative;
  box-sizing: content-box;
  cursor: pointer;
  .badge {
    position: absolute;
    top: 0;
    left: 0;
  }
  &.selected {
    border: 1px solid red;
  }
  &:before {
    display: inline-block;
    content: '\f0c8';
    /*display: inline-block;*/
    font-family: FontAwesome;
    font-size: $shape-size;
    line-height: $shape-size;
    width: $shape-size;
    height: $shape-size;
    text-align: center;
    /*font-size: inherit;*/
    text-rendering: auto;
    font-smoothing: antialiased;
    color: #ffce54;
  }
  &:global(.tile-triangle) {
    &:before {
      content: '\f04b';
      transform: rotate(-90deg);
    }
  }
  &:global(.tile-circle) {
    &:before {
      content: '\f111';
    }
  }
  &:global(.tile-red) {
    &:before {
      color: #ffce54;
      color: #dd5249;
    }
  }
  &:global(.tile-green) {
    &:before {
      color: #20a163;
    }
  }
  &:global(.tile-bg-grey) {
    background-color: #aaa;
  }
  &:global(.tile-bg-black) {
    background-color: #000;
  }
}